{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
{% endblock extra_css %} {% block page_title %}
<title>Chat</title>
{% endblock page_title %} {% block content %}
<section class="content">
  <div class="chat-wrapper">
    <!-- Contacts List -->
    <div class="contacts-list">
      <h4 class="contact_heading">Teams</h4>
      <div class="contact" data-id="contact1">
        <i class="fa-solid fa-message"></i>
        <span class="contact-name">Team1</span>
        <span class="unread-badge" style="display: none"></span>
      </div>
      <div class="contact" data-id="contact2">
        <i class="fa-solid fa-message"></i>
        <span class="contact-name">Team2</span>
        <span class="unread-badge">1</span>
      </div>
      <div class="contact" data-id="contact3">
        <i class="fa-solid fa-message"></i>
        <span class="contact-name">Team3</span>
        <span class="unread-badge">6</span>
      </div>
    </div>

    <!-- Chat Box -->
    <div class="chat-container">
      <div class="chat-messages" id="chat-messages"></div>

      <div class="chat-input">
        <input type="text" id="message-input" placeholder="Type a message..." />
        <button id="send-btn"><i class="fas fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
</section>
{% endblock content %} {% block extra_js %}
<script src="{% static 'js/chat.js' %}"></script>
{% endblock extra_js %}
