{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>

  <body>
    <div class="parent_c">
      <div class="lc">
        <img
          src="{% static 'img/images.png' %}"
          width="80px"
          alt="dashboard logo"
        />
        <h5 class="login_title">Please login to your account!</h5>
        <hr />
        <form action="login_auth/" method="POST" id="lform">
          {% csrf_token %}
          <div class="input">
            <label for="">Username</label>
            <input
              type="text"
              name="Username"
              id="inputfield"
              placeholder="Username / Email"
              required
            />
          </div>

          <div class="input">
            <label for="">Password</label>
            <input
              type="password"
              name="Password"
              id="inputfield"
              placeholder="*********"
              required
            />
          </div>
          <a href="/forgot_password" class="forgot">Forgot password</a>

          <br /><br />
          <input type="submit" value="Login" id="btn" />
        </form>
      </div>
    </div>
  </body>
</html>
