{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/upload.css' %}" />
{% endblock extra_css %} {% block page_title %}
<title>Uploaded Files</title>
{% endblock page_title %} {% block content %}
<section class="content">
  <div class="form-container">
    <h2>Uploaded Files</h2>
    <div class="uploads-table-container">
      <table id="uploads-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Team Name</th>
            <th>Uploaded At</th>
            <th>Question</th>
            <th>File</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <!-- Uploaded files will be rendered here -->
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock content %} {% block extra_js %}
<script src="{% static 'js/upload.js' %}"></script>
{% endblock extra_js %}
