@import url("variables.css");

/* ==================== TABLE CONTAINER ==================== */
.form-container {
  background: var(--color-white);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 20px;
  color: var(--color-primary-dark);
  text-align: center;
}

.uploads-table-container {
  overflow-x: auto;
}

#uploads-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

#uploads-table th,
#uploads-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

#uploads-table thead {
  background: var(--color-primary-dark);
  color: var(--color-white);
}

#uploads-table tbody tr:nth-child(odd) {
  background: var(--color-table-row-odd);
}

#uploads-table tbody tr:nth-child(even) {
  background: var(--color-table-row-even);
}

#uploads-table tbody tr:hover {
  background: var(--color-table-row-hover);
  transition: 0.2s;
}

.download-btn {
  padding: 6px 12px;
  background: var(--color-primary-dark);
  color: var(--color-white);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.download-btn:hover {
  background: var(--color-primary-light);
}
